html {
  overflow: hidden;
}

body {
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Bodoni Moda", serif;
}

/*  가상 스크롤 뷰포트 */
.vs {
  position: fixed;
  inset: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*  움직일 실제 컨텐츠 */
.vs__content {
  will-change: transform;
  transform: translate3d(0, 0, 0);
}

@media (max-width:780px) {
  .vs {
    overflow-y: scroll;
  }
}