#section3 {
    background-color: #343434;
    width: 100%;
    height: 130vh;
    position: relative;
}


#section3 .poporList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 0;
    justify-content: center;
}

#section3 .poporList .s3Box {
    width: 46%;
    height: 60vh;
    background-color: #000;
    margin: 10px;
    position: relative;
    z-index: 22;
    overflow: hidden;
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    color: aliceblue;
    font-weight: bolder;
    contain: layout paint;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#section3 .poporList .lotteCultureworks {
    top: -120px;
    background-image: url(/public/section/lotteCultureworksImg.png);
}

#section3 .poporList .amio {
    top: -120px;
    background-image: url(/public/section/amioImg.png);
}

#section3 .poporList .lego {
    background-image: url(/public/section/legoImg.png);
}

#section3 .poporList .mung {
    background-image: url(/public/section/mungImg.png);
}

#section3 .poporList .s3Box .poporbar {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border: 2px solid rgba(109, 103, 96, 0.8);
    border-radius: 18px;
    border-left: none;
    border-right: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    transform: translate3d(0, calc(var(--y, 50%) - 50%), 0);
    opacity: 0;
    cursor: pointer;
}

#section3 .poporList .s3Box:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

#section3 .poporList .s3Box.isHovered .poporbar {
    opacity: 1;
}

.s3Box .poporbar {
    transition: none;
}

@media (max-width:1024px) {
    #section3 {
        height: 110vh;
    }

    #section3 .poporList .s3Box {
        height: 50vh;
    }
}

@media (max-width:675px) {
      #section3 {
        height: 150vh;
    }
#section3 .poporList .s3Box {
    width: 90%;
    height: 36vh;
    margin: 0;
}
#section3 .poporList .lotteCultureworks {
    top: 0;
    margin-bottom: 10px;
}

#section3 .poporList .amio {
    top: 0px;
    margin-bottom: 10px;
}

#section3 .poporList .lego {
    margin-bottom: 10px;
}
}

@media (max-height: 780px) {
    #section3 .poporList .lotteCultureworks {
    top: -50px;
}

#section3 .poporList .amio {
    top: -50px;
}
}

@media (max-height:740px){
    #section3 .poporList .lotteCultureworks {
    top: 0;
}

#section3 .poporList .amio {
    top: 0px;
}
}