#section3 {
    background-color: rgb(75, 68, 57);
    width: 100%;
    height: 190vh;
    position: relative;
}


#section3 .poporList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 0;
    justify-content: center;
}

#section3 .poporList .s3Box {
    width: 42%;
    height: 90vh;
    background-color: orange;
    margin: 10px;
    position: relative;
    z-index: 22;
    overflow: hidden;
    font-family: "Bodoni Moda", serif;
    font-size: 18px;
    color: aliceblue;
    font-weight: bolder;
    contain: layout paint;
}

#section3 .poporList .lotteCultureworks {
    top: -120px;
}

#section3 .poporList .amio {
    top: -120px;
}

#section3 .poporList .s3Box .poporbar {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border: 2px solid rgba(109, 103, 96, 0.8);
    border-radius: 18px;
    border-left: none;
    border-right: none;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    will-change: transform;
    transform: translate3d(0, calc(var(--y, 50%) - 50%), 0);
    opacity: 0;
    cursor: pointer;
}

#section3 .poporList .s3Box:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

#section3 .poporList .s3Box.isHovered .poporbar {
    opacity: 1;
}

.s3Box .poporbar {
    transition: none;
}