.airpods1 {
  display: block;
  margin: 0 auto;
}
.earbud {
  transform-box: fill-box;
  transform-origin: center;
}
.earbud.left {
  animation: left-rotate 4s ease-in-out infinite;
}
.earbud.right {
animation: right-rotate 4s ease-in-out infinite;
}

/* 음표 */
.note circle,
.note rect {
  fill: #ffd84d; /* 노란색 음표 */
}

.note {
  opacity: 0;
  transform-box: fill-box;
  transform-origin: center;
}
.note-l-1 {
  animation: note-float 8s ease-in-out infinite;
}

.note-l-2 {
  animation: note-float 8s ease-in-out infinite;
  animation-delay: 4s;
}
.note-r-1 {
  animation: note-float 6s ease-in-out infinite;
}

.note-r-2 {
  animation: note-float 6s ease-in-out infinite;
  animation-delay: 3s;
}



/* 애니메이션 */
@keyframes left-rotate {
  0%   { transform: rotateY(0deg); }
  50%  { transform: rotateY(30deg); }
  100% { transform: rotateY(0deg); }
}

@keyframes right-rotate {
  0%   { transform: rotateY(0deg); }
  50%  { transform: rotateY(-30deg); }
  100% { transform: rotateY(0deg); }
}


@keyframes note-float {
  0% {
    opacity: 0;
    transform: translateY(0) translateX(0) scale(0.8);
  }

  20% {
    opacity: 1;
  }

  50% {
    transform: translateY(-20px) translateX(12px) scale(1);
  }

  75% {
    opacity: 1;
    transform: translateY(-40px) translateX(-4px) scale(1.3);
  }
  100% {
    opacity: 0;
    transform: translateY(-60px) translateX(10px) scale(1);
  }
}
