.kirbyEye {
  transform-origin: center;
  animation: kirby-blink 2s infinite;
}
.kirbyArm{
   stroke-width: 1px;
   stroke: rgba(253, 247, 247, 0.1);
}
.kirbyMouth{
  transform-origin: 110px;
  transform: rotate(15deg);
}
.kirbyFootLeft{
  transform: rotate(-45deg);
}
.kirbyFootRight{
  transform: rotate(30deg);
  
}
.kirby2 {
  transform-origin: center bottom;
  animation: kirby-bounce 1s ease-in-out infinite;
}
.star1 {
  animation: star-fly 4s ease-in-out infinite;
  animation-delay: 0s;
}

.star2 {
  animation: star-fly 4s ease-in-out infinite;
  animation-delay: 0.6s;
}
.star3 {
  animation: star-fly 4s ease-in-out infinite;
  animation-delay: 1.2s;
}


@keyframes kirby-bounce {
  0% {
    transform: translateY(0) scale(1, 1);
  }

  20% {
    transform: translateY(-18px) scale(1.03, 0.97);
  }

  40% {
    transform: translateY(0) scale(0.95, 1.05);
  }

  55% {
    transform: translateY(-6px) scale(1.01, 0.99);
  }

  70%,
  100% {
    transform: translateY(0) scale(1, 1);
  }
}

@keyframes kirby-blink {
  0%, 92%, 100% { transform: scaleY(1); }
  95% { transform: scaleY(0.1); }
}
@keyframes star-fly {
  0% {
    transform: translate(300px, 0px) scale(0.6) rotate(0deg);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: translate(-50px, 30px) scale(1) rotate(180deg);
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(-80px, 50px) scale(0.4) rotate(360deg);
    opacity: 0;
  }
}
